{{>licenseInfo}}

package {{package}};

import com.synopsys.integration.polaris.common.api.PolarisComponent;

import java.util.Objects;
import java.util.Arrays;
{{#imports}}
import {{import}};
{{/imports}}
{{#jackson}}
    {{#withXml}}
import com.fasterxml.jackson.dataformat.xml.annotation.*;
    {{/withXml}}
{{/jackson}}
{{#withXml}}
import javax.xml.bind.annotation.*;
{{/withXml}}

{{#models}}
    {{#model}}
        {{#isEnum}}
{{>modelEnum}}
        {{/isEnum}}
        {{^isEnum}}
{{>pojo}}
        {{/isEnum}}
    {{/model}}
{{/models}}
