# operating system
.DS_Store

# ide
.settings/
.classpath
.project
bin/
.idea
*.iml
out/

# python
venv/

# build tool
.gradle/
build/
target/

version.txt
swip.yml
.swip/
.swip-Coverity-2018.12.zip

synopsys-detect-*-help.json

docker-test/
*.hprof
*.bak
*.gradle

download/
