# Note: this requirements.txt file is used to specify what dependencies are

name1
name2 >= 1.2.3
name3 >= 1.2  # PyYAML 5.1 is required for Python 3.8+ support

# NOTE: resolvelib 0.x version bumps should be considered major/breaking

-r requirements-2.txt

name4 >= 0.5.3, < 1.1.0  # dependency resolver used by ansible-galaxy

-r test-subdirectory/requirements-3.txt

--requirement       ../pip/test-subdirectory/../requirements-4.txt # valid UNIX path that parser should be able to resolve (with extra whitespaces before path)
-c sample-constraints.txt

--dry-run
--platform linux

name5==1.2.3

